*.asv
*.pyc
*.pyd
*.pdb
*/__pycache__
.vscode/.ropeproject/config.py
**/target
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

/SystemComponentsFast/build_cmd/*
!/SystemComponentsFast/build_cmd/*Example*

*.npz
*.pt
*.data

wandb/*
videos/*
models/*
runs/*